@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/


body {
    background-color: #D6FDE9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1E402F;
}

/*pode ter o h1 ou não, mas se não tiver, todos os indentificadores com o mesmo id ficarão com essas configurações*/

h1#principal {
    text-align: center;
    background-color: #3C805E;
    color: white;
}

h2 {
    color: #3C805E;
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793C;
}

.avancado {
    color: #803C3C;
}

.destaque {
    background-color: #c5c56070;
}